<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img src="../../assets/img/logo.png" alt="Imperial" />
        </div>
  
        <h1>Las mejores obras de teatro para tu elecciòn</h1>
        <h2><span class="rotating">¡Las increíbles Obras de Teatro están de vuelta!, Con una portada estelar para los shows en vivo</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started sidebarCollapse" >Vamos!</a>
          <a href="#services" class="btn-services">Nuestra Casa</a>
        </div>
      </div>
    </div>
  </section>
  <header id="header">
        <div class="container">
      
          <div id="logo" class="pull-left">
            <a href="#hero"><img src="../../assets/img/logo.png" alt="" title="" /></a>
          </div>
      
          <nav id="nav-menu-container">
            <ul class="nav-menu ">
              <li class="menu-active"><a href="#hero" >Inicio</a></li>
              <li><a href="#about">Nosotros</a></li>
              <li><a href="#services">Salas</a></li>
              <li><a href="#testimonials">Funciones</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#contact">Contactanos</a></li>
              <li ><a data-toggle="modal" data-target="#singInModal" style="color: #955DDB">SignIn</a></li>
              <li ><a data-toggle="modal" data-target="#singUpModal" style="color: #955DDB">SignUp</a></li>
              <li><a data-toggle="modal" data-target="#adminModal" style="color: #955DDB">Admin</a></li>
              <li><a style="color: #57D05D" id="sidebarCollapse">
                Perfil</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <app-login></app-login>
      <app-admin></app-admin>
      <app-register></app-register>
      <app-body></app-body>
  



 <!--==========================
          Footer
          ============================-->
          <footer id="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="copyright">
                    &copy; Copyright <strong>Proyecto de 100 o nada Theme</strong>. Todos los derechos reservados
                  </div>
                  <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>

          <!-- #footer -->
  <!--==========================
              Inicio Modal 
    ============================-->
 


