 <!-- Contenido -->
          <!-- #header -->
          <section id="about">
              <div class="container wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="section-title">Nosotros</h3>
                  <div class="section-title-divider"></div>
                  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                </div>
              </div>
            </div>
            <div class="container about-container wow fadeInUp">
              <div class="row">
          
                <div class="col-lg-6 about-img">
                  <img src="../../assets/img/demo-01.jpg" alt="">
                </div>
          
                <div class="col-md-6 about-content">
                  <h2 class="about-title">We provide great services and ideass</h2>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate
                  </p>
                  <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum
                  </p>
                  <p class="about-text">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli.
                  </p>
                </div>
              </div>
            </div>
          </section>
  
          
          <!--==========================
          Services Section
          ============================-->
          <section id="services">
            <div class="container wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="section-title">Salas</h3>
                  <div class="section-title-divider"></div>
                  <p class="section-description">Modern Teater posee salas de ultima generacion con butacas mucho mas comodas</p>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-4 service-item">
                  <div class="service-icon"><i class="fa fa-desktop"></i></div>
                  <h4 class="service-title"><a href="">Teatro Nacional Benjamin Carrión</a></h4>
                  <p class="service-description">El teatro Nacional Benjamin Carrión es la segunda sala mas grande del Agora de la Cultura, llamado asi por el fundador y padre del Agora "Benjamin Carrión"</p>
                  <h5 class="service-description">Asientos: 600</h5>
                </div>
                <div class="col-md-4 service-item">
                  <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
                  <h4 class="service-title"><a href="">Sala Jorge Icaza</a></h4>
                  <p class="service-description">La Sala Jorge Icaza es la sala mas grandre del Agora con una capacidad para 300 personas, llamada asi por el escritor Jorge Icaza.</p>
                  <h5 class="service-description">Asientos: 300</h5>
                </div>
                <div class="col-md-4 service-item">
                  <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
                  <h4 class="service-title"><a href="">Teatro Prometeo</a></h4>
                  <p class="service-description">El Teatro Prometeo es uno de los mas recordados porque allí fue donde Don Evaristo dio su última función, llamado así por el Titán en la mitología Griega Prometeo.</p>
                  <h5 class="service-description">Asientos: 250</h5>
                </div>
                <div class="col-md-4 service-item">
                  <div class="service-icon"><i class="fa fa-photo"></i></div>
                  <h4 class="service-title"><a href="">El Aula Benjamín Carrión</a></h4>
                  <p class="service-description">El Aula Benjamín Carrión es la sala mas pequeña del Agora, cuenta con una capacidad para 100 personas, posee una acústica "única", siendo así la mejor salar en el Agora.</p>
                  <h5 class="service-description">Asientos: 100</h5>
                </div>
              </div>
            </div>
          </section>
          <!--==========================
          Testimonials Section
          ============================-->
          <section id="testimonials">
              <div class="container wow fadeInUp">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="section-title">Obras</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">¡Las mejores obras para que lo disfrutes en familia!</p>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-md-3">
                    <div class="profile">
                      <div class="pic"><img src="../../assets/img/1028.jpg" alt=""></div>
                      <h4>La casa 1028</h4>
                      <span>Lawless Inc</span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="quote">
                      <b></b>El Quito colonial era próspero y moderno para la época. Las casas eran hermosas, pero sobresalía la casa 1028, de propiedad de don Ramón y doña Isabel, cuyos apellidos jamás se llegaron a saber.<small></small>
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-md-9">
                    <div class="quote">
                      <b></b>Esta difundida leyenda que atesoran los habitantes de Quito se refiere a don Ramón Ayala y Sandoval, quien era un hombre adinerado, muy bohemio y dedicado a la buena vida.<small></small>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="profile">
                      <div class="pic"><img src="../../assets/img/el gallo de la catedral.jpg" alt=""></div>
                      <h4>El Gallo de la Catedral</h4>
                      <span>Odeo Inc</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="profile">
                      <div class="pic"><img src="../../assets/img/padre-almeida.jpg" alt=""></div>
                      <h4>El padre Almeida</h4>
                      <span>Lawless Inc</span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="quote">
                      <b></b>Narra la leyenda que en el convento de San Diego, de la ciudad de Quito, vivía hace algunos siglos un sacerdote joven, el padre Almeida, el mismo que se caracterizaba por su afición a las juergas y al aguardiente.<small></small>
                    </div>
                  </div>
                </div>
          
              </div>
            </section>
          
          <!--==========================
          Team Section
          ============================-->
          
          <!--==========================
          Contact Section
          ============================-->
          <section id="contact">
            <div class="container wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="section-title">Contactanos</h3>
                  <div class="section-title-divider"></div>
                  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-3 col-md-push-2">
                  <div class="info">
                    <div>
                      <i class="fa fa-map-marker"></i>
                      <p>Av. Mrs. Sucre y Ajavì<br> S 58-966</p>
                    </div>
          
                    <div>
                      <i class="fa fa-envelope"></i>
                      <p>tu_boleteria@gmail.com</p>
                    </div>
          
                    <div>
                      <i class="fa fa-phone"></i>
                      <p>(09) 8402-4438</p>
                    </div>
          
                  </div>
                </div>
          
                <div class="col-md-5 col-md-push-2">
                  <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                      </div>
                      <div class="text-center"><button type="submit">Enviar</button></div>
                    </form>
                  </div>
                </div>
          
              </div>
            </div>
          </section>
            <!--==========================
                    Prueba Conexion Social 
          ============================-->
            <div *ngIf="user" class="card text-center">
              <h6 class="card-header">
                Social Login Demo
              </h6>
              <div class="card-block"></div>
              <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
              <div class="card-block">
                <h4 class="card-title">{{ user.name }}"</h4>
                <p class="card-text">{{ user.email }}"</p>
              </div>
              <div class="card-block">
                <button class="btn btn-success" (click)=" guardarUsuario()">Guardar</button>
                <button class="btn btn-danger" (click)="signOut()">Sign out</button>
              </div>
            </div>

 <!--Editar Obras-->
 <div class="modal fade" id="singInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header" >
         <h5 class="modal-title" id="exampleModalCenterTitle">Inicio de Sesion</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <form>
         <div class="modal-body">
           <div class="form-group" style="text-align:center">
             <i class="fa fa-user" style="font-size: 5em; color: #03C4EB;"></i>
           </div>
           <div class="form-group">
             <label for="exampleInputEmail1">Correo</label>
             <input type="email" class="form-control" name="correo" placeholder="email" [(ngModel)]="correo" />
           </div>
           <div class="form-group">
             <label for="exampleInputPassword1">Contraseña</label>
             <input type="password" class="form-control"   name="clave" placeholder="password" [(ngModel)]="clave" />
           </div>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-success" (click)="login()">Entrar</button>
           <i class="fa fa-angle-double-right"></i>
           <button type="button" class="btn btn-primary" (click)="signInWithFB()"  data-dismiss="modal"><i class="fa fa-facebook"></i></button>
           <button type="button" class="btn btn-danger" (click)="signInWithGoogle()"  data-dismiss="modal"><i class="fa fa-google"></i></button>
         </div>
       </form>
     </div>
   </div>
 </div>



